/* .myheader {
    height: 8vh;
    background-color: aquamarine;
} */
.title {
    font-size: xx-large;
    font-weight: bold;
}

.nav-item {
    margin-right: 20px;
}

a {
    text-decoration: none !important;
    color: white;

}